[package]
name = "jack"
version = "0.2.1"
authors = ["Will S. Medrano <will.s.medrano@gmail.com>"]
description = "Safe JACK bindings for rust."
documentation = "https://wmedrano.github.io/rust-jack/jack/index.html"
repository = "https://github.com/wmedrano/rust-jack"
license = "MIT"
readme = "README.md"
keywords = ["jack", "realtime", "audio"]

[dependencies]
bitflags = "0.7.0"
jack-sys = "0.1.4"
lazy_static = "0.2.1"
libc = "0.2"
