[package]
name = "jack"
version = "0.5.2"
authors = ["Will S. Medrano <will.s.medrano@gmail.com>"]
description = "Real time audio and midi using safe JACK bindings."
documentation = "https://RustAudio.github.io/rust-jack/jack/index.html"
repository = "https://github.com/RustAudio/rust-jack"
license = "MIT"
readme = "README.md"
keywords = ["jack", "realtime", "audio", "midi"]

[dependencies]
bitflags = "0.7.0"
jack-sys = "0.1.4"
lazy_static = "0.2.2"
libc = "0.2"
