[package]
authors = ["Will S. Medrano <will.s.medrano@gmail.com>"]
description = "Real time audio and midi with JACK."
documentation = "https://RustAudio.github.io/rust-jack/jack/index.html"
edition = "2018"
keywords = ["jack", "realtime", "audio", "midi", "music"]
license = "MIT"
name = "jack"
readme = "README.md"
repository = "https://github.com/RustAudio/rust-jack"
version = "0.7.2"

[dependencies]
bitflags = "1.2"
jack-sys = {path = "./jack-sys", version = "0.2.2"}
lazy_static = "1.4"
libc = "0.2"

[dev-dependencies]
crossbeam-channel = "0.5"

[features]
default = ["metadata"]
metadata = []
