[package]
name = "jack"
version = "0.6.1"
authors = ["Will S. Medrano <will.s.medrano@gmail.com>"]
description = "Real time audio and midi using safe JACK bindings."
documentation = "https://RustAudio.github.io/rust-jack/jack/index.html"
repository = "https://github.com/RustAudio/rust-jack"
license = "MIT"
readme = "README.md"
keywords = ["jack", "realtime", "audio", "midi"]

[dependencies]
bitflags = "1.1"
jack-sys = { path = "./jack-sys", version = "0.2" }
lazy_static = "1.4"
libc = "0.2"
